<div class="large-8 columns">
</div>
<div class="large-4 columns">
  <div class="slide-image right">
    <div id="featured" data-orbit>
      <img src="004-21.jpg" alt="slide image">
      <img src="IMG_6252.jpg" alt="slide image">
    </div>
  </div>
</div>
