<div class="row fullWidth">
  <div class="photos">
    <div class="large-8 columns">
      <div class="slide-image right">
        <div id="featured" data-orbit>
          <img src="/family2.jpg" alt="slide image" class="si">
          <img src="/family.jpg" alt="slide image" class="si">
          <img src="/q1.JPG" alt="slide image" class="si">
          <img src="/q3.JPG" alt="slide image" class="si">
          <img src="/p6.jpg" alt="slide image" class="si">
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="slide-image right">
        <div id="featured" data-orbit>
          <img src="/p1.jpg" alt="slide image" class="sir">
          <img src="/p3.JPG" alt="slide image" class="sir">
          <img src="/p4.JPG" alt="slide image" class="sir">
          <img src="/p5.JPG" alt="slide image" class="sir">
          <img src="/p7.jpg" alt="slide image" class="sir">
          <img src="/q6.JPG" alt="slide image" class="sir">
          <img src="/p8.jpg" alt="slide image" class="sir">
          <img src="/mom.png" alt="slide image" class="sir">
        </div>
      </div>
    </div>
  </div>
</div>
