/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Nanum Gothic', serif;
  background: url("/background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.left-room {
  margin-left: 30px;
}

#gift {
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
  position: relative;
  .top-bar {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 15px;
    height: 1.7rem;
    line-height: 2rem;
    background-color: transparent;
    overflow: hidden;
    ul {
      padding-right: 30px;
      text-align: right;
    };
    li {
      display: inline-block;
      padding-left: 30px;
    };
    a {
      color: black;
    };
  };
}

.logo {
  position: relative;
  top: 15px;
  margin-right: 150px;
  height: 85px;
  width: 85px;
  display: inline;
}

.autoscrolling {
  height: 350px;
  overflow-y: scroll;
}

.happy-video {
  width: 100%;
  height: 350px;
}

.main {
  margin: auto;
  width: 80%;
  min-width: 400px;
}

.heart {
  width: 20px;
  height: 20px;
}

.slide-image {
  width: 100%;
}

.wish {
  text-shadow:
    -1.5px -1.5px 0 #ffffff,
    1.5px -1.5px 0 #ffffff,
    -1.5px 1.5px 0 #ffffff,
	  1.5px 1.5px 0 #ffffff;
}

.wishlist {
  max-width: 700px;
  margin: auto;
  table {
    width: 100%;
    // background: rgba(241, 236, 227, 0.71);
  };
  .button {
    width: 50%;
    height: 50px;
  };
}

.gift-form {
  margin: auto;
  align-self: center;
  padding-top: 20px;
  width: 70%;
}

.most-wanted {
  td {
    background-color: rgba(251, 151, 178, 0.63);
  };
}

.message {
  background: url("/card.png");
  background-size: contain;
  height: 350px;
}

fieldset {
  padding: 0px 10px 5px 10px;
  border-width: 1.5px;
  border-color: rgb(71, 75, 80);
}

fieldset p {
  margin: 0;
}

fieldset a.button.tiny {
  padding: 5px 7px 5px 7px;
  margin: 0;
}
